<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры игрульки</title>
</head>
<body>
    <h1> Игры </h1>
    <ul>
        <li> {{ game_1 }}

        </li>
        <li> {{ game_2 }}

        </li>
        <li> {{ game_3 }}

        </li>
    </ul>
</body>
<body>
    <button onclick="window.location.href='/'"> Главная </button>
</body>
<body>
    <button onclick="window.location.href='/platform/card/'"> А ты знал Чтооооо.... </button>
</body>
</html>